/* assets/css/main.css - Nuxt CSS template */


@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');

:root {
  --maingrey: #333333;
  --mainwhite: #FFFFFF;
  --offwhite: #f2f2f2;
  --placeholdergrey: #949494;
  --mainfont: 'Inter';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
}

body {
  font-family: var(--mainfont);
  color: #222;
  min-height: 100vh;
  font-weight: 300;
}

button:hover {
  cursor: pointer;
  filter: brightness(96%);
}

input[type="text"] {
  cursor: text;
}

.container {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  background-color: var(--mainwhite);
  box-shadow: inset 0 -3px 2px  rgba(0,0,0,0.2);
}



