/* assets/css/main.css - Nuxt CSS template */


@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');

:root {
  --maingrey: #333333;
  --mainwhite: #FFFFFF;
  --offwhite: #F0F0F0;
  --placeholdergrey: #949494;
  --mainfont: 'Inter'
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: var(--mainfont);
  color: #222;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
  filter: brightness(95%);
}

input[type="text"] {
  cursor: text;
}

.container {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  background-color: var(--mainwhite);
  
}



